<html>
	<body style="background-image: url('{{ url_for('static', filename='clbg.png') }}');
				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: cover;"
  				> 
		<center>
			<h1 style="color: rgb(188, 242, 61);"> Secure Cloud File Storage Using Hybrid Cryptography </h1><br><br>
			<table>
				<tr>
					<td><a href="upload"><button style="font-size: 16px;">Upload</button></a></td>
					<td><a href="download"><button style="font-size: 16px;">Restore</button></a></td>
				</tr>
			</table>
		</center>
	</body>
</html>
