<html>
	<body style="background-image: url('{{ url_for('static', filename='clbg.png') }}');
				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: cover;">
		<center>
			<h1 style="color: rgb(188, 242, 61);"> Secure Cloud File Storage Using Hybrid Cryptography </h1><br><br>
			<form action = "/data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required/>
				<br><br><input type = "submit"/>
			</form>
		</center>
	</body>
</html>
